{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
            margin-top: 8px;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text mt-2"> In the world of financial professionals, nothing is stagnant. Be it frequently changing tax regimes, dynamic statutory audit regulations, or cross-legislation reconciliations. It would help if you always were abreast of the proper compliance strategies to handle increasing complexities like a PRO though automation. 

            With Tally On Wheels, these audits can be completed with 100% accuracy in less than 90% of the usual time, by harnessing the power of technology like cloud computing and advanced AI tools at a fraction of your current costs!</p>
        
    </div>
</div>
</div>

{% endblock sidebar %}